<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
<div>
	<h3>Input Validation</h3>
	<form ng-app="" name="myForm" ng-controller="submit">
	    Email:
	    <input type="email" name="myAddress" ng-model="text">
	    <span ng-show="myForm.myAddress.$error.email">Invalid email address!</span>
        <input ng-click="myFunc($event)" type="submit" value="Submit">
	</form>
</div>

<div ng-app="myApp" ng-controller="namesCtrl">
	<p><input type="text" ng-model="people"></p>

	<ul>
	  <li ng-repeat="x in names | filter:people | orderBy:'country'">
	    {{ (x.name | uppercase) + ', ' + x.country }}
	  </li>
	</ul>
</div>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
          <h1>Feature: Location Services</h1>
          <h2>The url of this page is:</h2>
          <h3>{{myUrl}}</h3>
      </div>
    
    <p>
         This example uses the built-in $location service
         to get the absolute url of the page.
      </p>
</body>
